.majorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 80px 40px;
    gap: 40px;
    z-index: 5;
    height: 90vh;
    min-width: 90vw;
    overflow-y: auto;
}

@media (max-width:768px) {
    .majorContainer {
        padding: 0;
        padding-left: 0.5vw;
        justify-content: space-around;
    }
}