.majorContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:70px;
    box-sizing: border-box;
    padding: 0px 20px;
}
.majorContainer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
    cursor: pointer;
}
.majorContainer div img{
    height:55px;
}
.majorContainer div p{
    font-size: 20px;
}
.majorContainer div{
    font-size: 30px;
}