.Logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 7vw 20px 0px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.holder {
    background-color: #f2f2f2;
    border-radius: 0.6vw;
    padding-left: 1vh;
    z-index: 5;
}

.Logincontainer div img {
    height: 55px;
}

.Logincontainer div p {
    font-size: 30px;
}

.Logincontainer div {
    font-size: 30px;
    z-index: 5;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 10vh 8vh;
    border-radius: 1vw;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.329);
    z-index: 5;
}

.form div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form svg {
    color: #F87000;
    padding: 0.2vw;
    font-size: 1.5vw;
}

.form input {
    border: 0px;
    background-color: #F2F2F2;
    padding: 1vw;
}

.form button {
    background-color: #F87000;
    color: white;
    border: 0px;
    font-size: 1.3vw;
    padding: 1.5vh 4vh;
    border-radius: 0.5vh;
    cursor: pointer;
}

.form input:focus {
    outline: none;
}